.App {
  text-align: center;
}

/* To Do List App Styles */

.input-listtext-style {
  outline: none;
  border: 1px solid lightgray;
  padding: 5px 15px;
  border-radius: 5px;
}

.task-list-container {
  margin: auto;
  width: 500px;
  margin-top: 50px;
}

.each-task-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

button {
  outline: none;
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
  padding: 5px 15px;
  border: 1px solid lightgray;
  margin-left: 5px;
}

button:hover {
  cursor: pointer;
}
